<div class="container">
    <h2 class="question"> {{ question.text }} </h2>
    <pre><code> {{ question.code }} </code></pre>
    <div class="choices">
        <input type="radio" id="{{ question.id }}paris" name="{{ question.id }}" value="paris" (change)="onRadioChange($event)">
        <label for="{{ question.id }}paris"> {{ question.r1 }} </label><br>
        <input type="radio" id="{{ question.id }}london" name="{{ question.id }}" value="london" (change)="onRadioChange($event)">
        <label for="{{ question.id }}london"> {{ question.r2 }} </label><br>
        <input type="radio" id="{{ question.id }}berlin" name="{{ question.id }}" value="berlin" (change)="onRadioChange($event)">
        <label for="{{ question.id }}berlin"> {{ question.r3 }} </label><br>
        <input type="radio" id="{{ question.id }}tokyo" name="{{ question.id }}" value="tokyo" (change)="onRadioChange($event)">
        <label for="{{ question.id }}tokyo"> {{ question.r4 }} </label><br>
    </div>
</div>